*{
	box-sizing: border-box;
}
.row:after{
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
float: left;
padding: 20px;
border: 1px solid red;
/*background-color: lightblue;*/
}
.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 24.999%; }
.col-4 { width: 33.332%; }
.col-5 { width: 41.665%; }
.col-6 { width: 49.998%; }
.col-7 { width: 58.331%; }
.col-8 { width: 66.664%; }
.col-9 { width: 74.997%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.663%; }
.col-12 { width: 99.996%; }

.container{
	width: 90%;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
	margin: 0 auto;
}